@{
    ViewData["Title"] = "Admin";
}

<div class="jumbotron bg-secondary" style="width: 100%; height: 15rem;">
    <div class="container-fluid p-5">
        <h1 class="text-light mt-0">About</h1>
        <p class="text-light mt-0">
            SportsPro Technical Support constantlt strives to provide the highest level of technical
            <br />
            support for all products in the SportsPro family.
        </p>
    </div>
</div>
